<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="code.warehouse.dao.SysUploadMapper">

	<select id="queryObject" resultType="code.warehouse.common.entity.SysFileEntity">
		select * from sys_upload_file where id = #{value}
	</select>

	<select id="queryList" resultType="code.warehouse.common.entity.SysFileEntity">
		select * from sys_upload_file order by id desc
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from sys_upload_file 
	</select>
	 
	<insert id="save" parameterType="code.warehouse.common.entity.SysFileEntity" useGeneratedKeys="true" keyProperty="id">
		insert into sys_upload_file
		(
			`url`, 
			`create_date`
		)
		values
		(
			#{url}, 
			#{createDate}
		)
	</insert>
	 
	<update id="update" parameterType="code.warehouse.common.entity.SysFileEntity">
		update sys_upload_file 
		<set>
			<if test="url != null">`url` = #{url}, </if>
			<if test="createDate != null">`create_date` = #{createDate}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from sys_upload_file where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from sys_upload_file where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>